{% load static %}

<div class="latest-blog">
    <h1>Latest Blogs</h1>
</div>
<div class="blog-container">
    <div class="left-container">
        <img src="{% static "media/image 16.jpg" %}" alt="photo">
        <div class="blog-info">
            <h2 class="blog-title"> Lorem ipsum is simply dummy texte?</h2>
            <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto minima, dolores tempore
                magni</h4>
            <input type="button" value="Read More">
        </div>
    </div>
    <div class="right-container">
        <div class="blog">
            <img src="{% static "media/image 16.jpg" %}" alt="photo">
            <div class="blog-info">
                <h2 class="blog-title">Lorem ipsum is simply dummy texte?</h2>
                <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto minima </h4>
                <input type="button" value="Read More">
            </div>

        </div>
        <div class="blog">
            <img src="{% static "media/image 16.jpg" %}" alt="photo">
            <div class="blog-info">
                <h2 class="blog-title">Lorem ipsum is simply dummy texte?</h2>
                <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto minima</h4>
                <input type="button" value="Read More">
            </div>
        </div>
    </div>
</div>